.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.card {
    background-color: $white-primary;
    border-radius: $border-radius-primary;
}

.mt-1 {
    margin-top: $gutter-vertical;
}