.container {
    max-width: $body-max-width; //1024px 
    margin: 0 auto; 
    min-height: 50vh;

    @media only screen and (max-width: 1032px) {
        padding: 0 2rem;
    }
}

.category-slide-container {
    display: flex;
    justify-content: space-between;
    margin-top: $gutter-vertical;
}