.signup {
    background-image: linear-gradient( 60deg, rgba($color-primary, .3), rgba($color-primary, .8));
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-height(530px) {
        height: 530px;
        overflow: auto;
    }
}

.form {

    &__signup {

        .login {

            &-text {
                font-size: map-get($map: $font-sizes, $key: "sm");
                color: $color-dark;
            }
            
            &-link {

                &:visited,
                &:link {
                    text-decoration: none;
                    color: $color-primary;
                }
                &:active {
                    color: $color-primary-dark;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}